@{
    ViewData["Title"] = "Welcome to the Best Darn Realtor App";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-2 ">This is Larry Hussey's technical demo.</h2>
</div>